<% @kind.each do |kind| %>
  <div class="kind"><%= kind.kind %> (<%=kind.codes.count%> Snippets)
  <ul class="list">
    <% kind.codes.each do |code| %>
    <%if code.is_private %>
      <% if code.user == current_user %>
      <li><%= link_to code.title, code_path(code) %></li>
      <%end%>
    <%else%>
      <li><%= link_to code.title, code_path(code) %></li>
    <%end%>
    <% end %>
  </ul>
  </div>
<% end %>

<!-- <script>
 $(".kind").click(function(){
   $(this).find(".list").css({"display":"block","color":"red"})
 })
</script> -->
